# Hugo
public/
resources/
.hugo_build.lock

# Jekyll (legacy)
_site
.bundle
.jekyll-cache
.jekyll-metadata
.ruby-version
.sass-cache

# General
.DS_store
.idea
.tweet-cache
.venv
assets/libs/
assets/rendercv/rendercv_output/*.typ
node_modules/
vendor
